/* CUSTOM CSS */

body {
    font-family: 'Lato', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background: url('../img/slash_it.png') repeat;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    color:#2acab0;
    text-align: center;    
    padding-top:5%;
}

.navbar {
    z-index: 2;
    position: relative;
    background: transparent;
}


video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    opacity: 0.6;
    width: auto;
    height:auto; 
    z-index: 1;
}
ul.navbar-nav {
    padding-top:  35px;
}

a.nav-link.active  {
    color: #2acab0 !important;
    font-family: 'Open-Sans', sans-serif;
    font-size: 24px;
    margin-right: 20px;
    font-weight: bold;
    
}

a.nav-link {
    color: white !important;
    font-family: 'Open-Sans', sans-serif;
    font-size: 24px;
    margin-right: 20px;
}



a.nav-link:hover {
    color: #2acab0 !important;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.form {
    background: #7c7f82;
    width: 600px;
    height: 600px;
    opacity: 0.8;
    z-index: 1;
    border-radius: 10px;
}

/* FORM */
form {
    width: 740px;
    z-index: 2;
    position: relative;
    top: 7%;
    left: 6%;
}

.form-group label {
    padding-left: 24%;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
}

.form-group label:hover {
    text-decoration: underline;
    color: #2acab0;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

#formGroupExampleInput {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    width: 500px;
    height: 50px;
}

.btn.btn-primary {
    font-family: 'Lato', sans-serif;
    margin: 5% 0 0 14%;
    width: 300px;
    height: 50px;
    background-color: #2acab0;
    border: none;
    font-size: 24px;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding-top: 70px;
    font-size: 18px;
    color: #000;

}

.bar img {
    padding: 0 10px 0 10px;

}
    
.facebook {
     font-family: 'Lato', sans-serif;
    width: 228px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #3b5998;
    margin-left: 2.5%;
    
    }
.google {
     font-family: 'Lato', sans-serif;
    width: 228px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #d34836;
}

.facebook a {
    color: white;
    font-size: 18px;
}

.google a {
    color: white;
    font-size: 18px;
}

button  a:hover {
    color: #2acab0;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.fa {
    padding-right: 10px;
}

/* FOOTER */

footer p {
    padding-top: 7%;
    text-align: center;
    font-size: 22px;
    color: #fff;
}